<li class="list-group-item" [ngClass]="{'list-group-item-success': loveIts > 0,
                                        'list-group-item-danger': loveIts < 0}">    
    <div class="row">
        <h1 class="col">{{title}}</h1>
        <h4 class="col-3 align-self-end">{{created_at | date: 'short'}}</h4>
    </div>
    <div class="row">
        <p>{{content}}</p>    
    </div>    
    <div class="row">
        <button (click)="onLoveIt()" class="col-md-2 col-sm-4 btn btn-success"> Love It</button>
        <button (click)="onDontLoveIt()" class="col-md-2 col-sm-4 offset-sm-1 btn btn-danger">Don't LoveIt</button>
    </div>    
</li>
