<ul class="list-group">
    
        <app-post-list-item *ngFor="let postListItem of postListItems"
                            [title]="postListItem.title"
                            [content]="postListItem.content"
                            [loveIts]="postListItem.loveIts"
                            [created_at]="postListItem.created_at"></app-post-list-item>
    
</ul>